.Card{
  border-color: 1px bold hsl(0, 1%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0.5%);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.Card .Card-img{
  max-width: 80%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}